<!-- prettier-ignore -->

{% extends 'layouts/base.html' %} 

{% block title %} 

    {% if event %} 
    Edit reservation event 
    {% else %}
    Create reservation event 
    {% endif %} 

{% endblock title %} 

{% block content %}

<!-- PAGE TITLE -->

<div class="container d-sm-flex justify-content-between align-items-start">
    <div class="pagetitle mb-3">
        {% if event %}
        <h1>Edit reservation event</h1>
        {% else %}
        <h1>Create reservation event</h1>
        {% endif %}

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'events:index' %}">Events</a>
                </li>

                {% if event %}
                <li class="breadcrumb-item active">Edit event</li>
                {% else %}
                <li class="breadcrumb-item active">Create event</li>
                {% endif %}
            </ol>
        </nav>
    </div>
    <a
        href="/events/"
        class="btn btn-outline-primary rounded-pill fw-bold px-4 py-2 my-2"
    >
        <i class="bi bi-arrow-return-left"></i> Return
    </a>
</div>

<!-- MAIN CONTENT -->

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Event information</h5>

            <!-- prettier-ignore -->
            {% if event %}
                {% url 'events:edit_event' event.id as form_action %}
            {% else %}
                {% url 'events:create_event' as form_action %}
            {% endif %}

            <form action="{{ form_action }}" method="post" class="row g-4">
                {% csrf_token %}

                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form.title }}
                        <label for="title"
                            ><i class="bi bi-journal-bookmark-fill"></i>
                            Title</label
                        >
                        <div class="text-danger">{{ form.title.errors }}</div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        {{ form.description }}
                        <label for="description"
                            ><i class="bi bi-pencil-fill"></i>
                            Description</label
                        >
                        <div class="text-danger">
                            {{ form.description.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.location }}
                        <label for="location"
                            ><i class="bi bi-geo-alt-fill"></i> Location</label
                        >
                        <div class="text-danger">
                            {{ form.location.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.duration_in_minutes }}
                        <label for="duration">
                            <i class="bi bi-stopwatch-fill"></i> Duration (in
                            minutes)
                        </label>
                        <div class="text-danger">
                            {{ form.duration_in_minutes.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.event_type }}
                        <label for="event-type"
                            ><i class="bi bi-people-fill"></i> Event type</label
                        >
                        <div class="text-danger">
                            {{ form.event_type.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.max_spots }}
                        <label for="duration"
                            ><i class="bi bi-people-fill"></i> Max number of
                            spots</label
                        >
                        <div class="text-danger">
                            {{ form.max_spots.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.color_hex_code }}
                        <label for="color-hex-code"
                            ><i class="bi bi-eyedropper"></i> Choose a
                            color</label
                        >
                        <div class="text-danger">
                            {{ form.color_hex_code.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        {{ form.event_link }}
                        <label for="event-link">
                            <i class="bi bi-link-45deg"></i> Event link -
                            localhost:3001/event/jaimenavarrete/
                        </label>
                        <div class="text-danger">
                            {{ form.event_link.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="form-floating">
                        {{ form.internal_note }}
                        <label for="internal-note"
                            ><i class="bi bi-sticky-fill"></i> Internal
                            note</label
                        >
                        <div class="text-danger">
                            {{ form.internal_note.errors }}
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="form-check">
                        {{ form.display_spots_number }}
                        <label
                            class="form-check-label"
                            for="display-spots-number"
                        >
                            Display current spots number?
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <!-- prettier-ignore -->
                        {% if event %}
                        <i class="bi bi-pencil-fill"></i>
                        Edit event {% else %}
                        <i class="bi bi-plus-lg"></i>
                        Create event {% endif %}
                    </button>
                    <button type="reset" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
