<!-- prettier-ignore -->

{% extends 'layouts/base_reservations.html' %} 

{% block title %} Make a reservation {% endblock title %} 

{% block content %}

<div class="card-header">
    <h2 class="card-subtitle text-dark fw-bold">Make a reservation</h2>
</div>

<div class="card-body py-4">
    {% include 'components/messages.html' %}
    <section class="text-center">
        <p class="card-title mb-2">
            <i class="bi bi-person-circle"></i> Jaime Navarrete
        </p>
        <h2 class="card-subtitle mb-4 fw-bold" style="color: #315fe5">
            {{ event.title }}
        </h2>

        <p class="h6 card-subtitle mb-4">
            <!-- prettier-ignore -->
            {% if event.description %}
                {{ event.description }}
            {% else %}
            <span class="fw-bold">(No description)</span>
            {% endif %}
        </p>
        <p class="h6 card-subtitle mb-3 text-muted">
            <i class="bi bi-stopwatch-fill"></i>
            {{ event.duration_in_minutes }} min, {{ event.event_type.name}}
        </p>
        <p class="h6 card-subtitle mb-4 text-muted">
            <i class="bi bi-geo-alt-fill"></i>
            {{ event.location }}
        </p>
    </section>

    <form
        action="{% url 'reservations:view_event' event.event_link %}"
        method="post"
        class="d-flex align-items-center flex-column"
    >
        {% csrf_token %}

        <input
            type="hidden"
            id="reservation-event"
            name="reservation_event"
            value="{{ event.id }}"
        />

        <h3 class="card-title text-center mb-2">Personal information</h3>
        <div class="form-floating col col-6 mb-3">
            {{ form.name }}
            <label for="name"><i class="bi bi-person-circle"></i> Name</label>
            <div class="text-danger">{{ form.name.errors }}</div>
        </div>
        <div class="form-floating col col-6 mb-3">
            {{ form.email }}
            <label for="email"><i class="bi bi-envelope-fill"></i> Email</label>
            <div class="text-danger">{{ form.email.errors }}</div>
        </div>
        <div class="form-floating col col-6 mb-3">
            {{ form.extra_information }}
            <label for="extra-information"
                ><i class="bi bi-info-circle-fill"></i> Extra information</label
            >
            <div class="text-danger">{{ form.extra_information.errors }}</div>
        </div>

        <h3 class="card-title text-center mb-2">Select date and time</h3>
        <div class="form-floating col col-6 mb-3">
            {{ form.start_date }}
            <label for="start-date"
                ><i class="bi bi-calendar-check-fill"></i> Reservation
                date</label
            >
            <div class="text-danger">{{ form.email.errors }}</div>
        </div>
        <div class="form-floating col col-6 mb-5">
            {{ form.start_time }}
            <label for="start-time"
                ><i class="bi bi-alarm-fill"></i> Reservation time</label
            >
            <div class="text-danger">{{ form.start_time.errors }}</div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mb-2" type="submit">
                <!-- prettier-ignore -->
                <i class="bi bi-plus-lg"></i>
                Make reservation
            </button>
        </div>
    </form>
</div>

{% endblock %}
